* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --font-color: #333;
  --background-color: #fff;
  --primary-color: #007bff;
  --font-family: "Inter", sans-serif;
  --base-font-size: 16px;
}

body {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  color: var(--font-color);
  background-color: var(--background-color);
}

p {
  font-size: var(--base-font-size);
  margin-bottom: 5px;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: 1rem;
}

input:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  margin-top: 5px;
  font-size: 12px;
  padding: 5px;
}

.hidden {
  display: none;
}

#map {
  height: 100vh;
}

#search {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  width: 400px;
}

#search.hidden {
  display: none;
}

.search-input {
  flex: 0 0 85%;
}

.search-menu {
  flex: 0 0 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  border: 1px solid rgba(85, 85, 85, 0.5);
  border-radius: 10px;
  background: #fff;
}

.search-menu:hover {
  background: #f6f6f6;
  cursor: pointer;
}

.search-menu img {
  width: 20px;
  height: 20px;
}

.search-input input {
  width: 100%;
  height: 45px;
  padding-left: 43px;
  font-size: 1rem;
  border: 1px solid rgba(85, 85, 85, 0.5);
  border-radius: 10px;
  color: #363636;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  /* Icon inside text form */
  background-image: url("/icons/train.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
}

.dropdown-menu {
  position: absolute;
  top: 120%;
  right: 0;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  z-index: 1;
  border-radius: 5px;
}

.dropdown-menu a {
  padding: 10px;
  text-decoration: none;
  color: #333;
  display: block;
  font-size: 14px;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

.show-dropdown .dropdown-menu {
  display: flex;
}

#sidebar {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;
  background-color: #fff;
  padding: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 100;
  transition: width 0.5s;
}

.sidebar-button-icon {
  width: 12px;
  height: 12px;
}

/* When sidebar is in small mode */
#sidebar.small {
  width: 60px;
  padding: 5px;
}

/* Hide the line name (span) in small mode  */
#sidebar.small .line-item span:first-child {
  display: none;
}

/* Center stats elements when the sidebar is in small mode */
#sidebar.small .line-item .stats-element {
  margin: 0 auto;
  display: block;
  text-align: center;
}

/* Line stats in sidebar */
.line-item {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  font-family: "Inter", sans-serif;
}

.stats-element {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 3px;
}

/* Guess list in sidebar */
.guess-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
  padding: 3px;
}

.line-color-box {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.station-name {
  font-size: 16px;
}

.line-color-icon {
  width: 14px;
  height: 14px;
}

/* Modal displayed for new games */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* text-align: center; */
  position: relative;
}

.modal-overlay.show {
  visibility: visible;
  opacity: 1;
}

/* Styling for each selectable line */
.line-options {
  margin-top: 10px;
}

.line-option {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 10px;
  background: #f1f2f3;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border-top: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 8px;
  cursor: pointer;
}

.line-option:hover {
  background: #e8e8e8;
}

.line-option.selected {
  background: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  transform: scale(1.02);
  transition: background 0.3s ease, transform 0.3s ease;
}

.line-option.selected .line-text {
  color: #fff;
}

.line-option.selected .line-stations {
  color: #fff;
}

.line-option.selected:hover {
  background: #0056b3;
}

.line-info {
  display: flex;
  align-items: center;
}

.line-icon {
  width: 22px;
  height: 22px;
  padding: 2px;
  background: #000;
  border-radius: 4px;
  margin-right: 10px;
}

.line-text {
  font-size: 18px;
  color: #333;
}

.line-stations {
  font-size: 14px;
  color: #666;
}

#start-button {
  font-size: 16px;
  border: 1px solid #0173ec;
  border-radius: 5px;
  padding: 10px;
  background: #007bff;
  color: #fff;
  cursor: pointer;
}

#start-button:hover:enabled {
  background-color: #0056b3;
}

#start-button:disabled {
  border: 1px solid #d8d8d8;
  background-color: #e4e4e4;
  cursor: not-allowed;
  color: #666;
}

#start-button:active {
  transform: scale(1.05);
}

#start-button:focus {
  outline: none;
}

/* Animation and styling for text input */
.shake {
  animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0.5rem);
  }
  75% {
    transform: translateX(-0.5rem);
  }
}

.wrong-guess {
  border: 2px solid red;
}

.duplicate-guess {
  border: 2px solid #e5d700;
}

.notification {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

/* Styling for mobiles */
@media (max-width: 600px) {
  .modal {
    width: 80%;
    padding: 15px;
  }

  h2 {
    font-size: 1.5rem;
  }

  p,
  h4 {
    font-size: 1rem;
  }

  .line-option {
    height: 40px;
    padding: 8px;
    margin-bottom: 6px;
  }

  .line-text {
    font-size: 1rem;
  }

  .line-stations {
    font-size: 0.9rem;
  }

  #start-button {
    font-size: 1rem;
    padding: 8px;
  }

  #search {
    left: 40%;
    width: 70%;
    transform: translateX(-50%);
  }

  .station-input {
    width: 100%;
    height: 40px;
    padding-left: 40px;
    font-size: 0.9rem;
    border-radius: 8px;
  }

  #sidebar {
    width: 50%; /* Make it narrower on mobile */
    padding: 8px;
    transition: width 0.5s;
  }

  #sidebar.small {
    width: 50px;
    padding: 3px;
  }

  .line-item {
    padding: 2px 0;
    font-size: 0.9rem; /* Smaller font size */
  }

  .stats-element {
    font-size: 0.7rem;
    padding: 3px 6px;
  }

  .dropdown-menu a {
    padding: 8px;
    font-size: 14px;
  }
}
