* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
}

#stats {
  width: 15%;
  border-right: 1px solid #d3d3d3;
  padding: 15px;
  overflow: auto;
}

#map {
  width: 85%;
  position: relative;
}

.search-container {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 800;
}

.station-input {
  width: 350px;
  height: 50px;
  padding: 5px 20px;
  font-size: 20px;
  border: 2px solid rgba(85, 85, 85, 0.5);
  border-radius: 10px;
  color: #363636;
}

/* FIX */
h3 {
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  color: #70757a;
  font-size: 12px;
  margin-bottom: 5px;
}

hr {
  color: #cccccc;
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: 20%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li:hover {
  background-color: #eeeeee;
}

li {
  padding: 1px;
  margin-bottom: 2px;
  cursor: pointer;
}

input::placeholder {
  color: #000000;
  opacity: 30%;
}

input:focus {
  outline: none;
}

.shake {
  animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0.5rem);
  }
  75% {
    transform: translateX(-0.5rem);
  }
}

.wrong-guess {
  border: 2px solid red;
}

.duplicate-guess {
  border: 2px solid #e5d700;
}

#guess-list li {
  display: flex;
  align-items: center;
  padding: 1px 0;
}

/* Container for the color lines next to each station */
.color-indicator-container {
  display: inline-flex;
  margin-right: 5px;
  align-items: center;
}

/* Individual color line styling */
.color-line {
  width: 4px; /* Width of each line */
  height: 25px; /* Height of each line */
  margin-right: 3px;
}
